.container {
  color: beige;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 50%;
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.catText {
  font-size: 10px;
}
